@import "lesshat.less";

@backgroundcolor: #fef8da;
@textcolor: #21231e;

@darkbackgroundcolor: #21231e;
@darkbackgroundtextcolor: white;

@lightbackgroundcolor: #fef8da;
@lightbackgroundtextcolor: #21231e;

@linkcolor: #f2c200;

@selectionbackgroungcolor: #f2ca27;
@selectiontextcolor: white;

@maxwidthabout: 760px;
@maxwidthprojects: 1000px;;


/*
* General
*/

html {
    height: 100%;
    font-size: 20px;
}

body {
    height: 100%;
    margin: auto;
    text-align: center;
    min-width: 320px;
    
    line-height: 1.5;
    font-family: 'Lato', 'Helvetica-Neue', 'Helvetica', 'Arial', sans-serif;
    
    background: @backgroundcolor;
    color: @textcolor;
    
    
}

h1, h2, h3, h4, p {
    font-weight: 300;
}

hr {
    width: 5em;
    height: 3px;
    border: none;
    background: rgba(0, 0, 0, 0.8);
    margin: 1em auto 1em auto;
}

strong {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: @textcolor;
}

::-moz-selection {
    background: @selectionbackgroungcolor;
    color: @selectiontextcolor;
}
::selection {
    background: @selectionbackgroungcolor;
    color: @selectiontextcolor;
}

.wrapper {
    max-width: @maxwidthprojects;
    margin: 0 auto;
}

#about .wrapper {
    max-width: @maxwidthabout;
}

.background-cover() {
 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

/*
* Header
*/

.indexheader {
    //.background-image(linear-gradient(top, @bgcolor0 0%, @bgcolor1 100%));
    background-color: @darkbackgroundcolor;
    color: @darkbackgroundtextcolor;
    padding: 2.5em 1em 6em 1em;

	background: url('../img/keyboard.jpg') no-repeat center center scroll; 
	.background-cover();
}

.indexheader nav {
    margin-bottom: 4em;
}

nav a {
     .border-radius(50px;);
    color: @darkbackgroundtextcolor;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.6em 2em;
    transition: background 0.3s;
    font-weight: 300;
}

nav a:hover {
    background: rgba(243, 194, 0, 0.6);
}

.iphone {
    height: 4em;
} 

.title {
    font-weight: 400;
    font-size: 5em;
    letter-spacing: -1px;
    margin-bottom: 0.4em;
} 

.subtitle-content {    
    .subtitle {
        font-size: 2em;
        font-weight: 300;
        margin: 0;
        
        strong {
            color: @darkbackgroundtextcolor;
            font-weight: 600;
        }
    }
} 


/*
* Header Animation
*/

@animationDuration: 0.4s;
@animationDelay: 0.2s;

.fadeInHeader(@delay) {    
    .opacity(0);
    .animation(fadeInHeader @animationDuration (@delay + 0.3s) forwards);
}

.animate0 {
    .fadeInHeader(0s);
}

.animate1 {
    .fadeInHeader(@animationDelay);
}

.animate2 {
    .fadeInHeader((@animationDelay * 2));
}

.animate3 {
    .fadeInHeader((@animationDelay * 3));
}

.keyframes(~'fadeInHeader, 0%{ transform: translateY(-30px);  opacity: 0; } 100%{  opacity: 1; }');


/*
* Content
*/

h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
}

.content {
    padding: 1em 1em 2em 1em;
}
/*
* About
*/

#about {
    font-size: 1.2em;
}

#about p {
    margin: 1em auto;
}

#about p a:hover {
    text-decoration: underline;
}

#about .roundedbutton {
    margin-top: 1.5em;
}

/*
* Projects
*/

.grid-1 {
  clear: both;
  margin-bottom: 3%;
}

.grid-2 {
  float: left;
  width: 48.5%;
  margin-bottom: 3%;
}

.grid-2+.grid-2{margin-left:3%}

#work {
    background: @lightbackgroundcolor;
    h2 {color: @lightbackgroundtextcolor;}
}

#work a {
    color: white;
        
    p, h3 {
        transition: all 0.2s;
        .transform(scale(1));
    }    
    
    &:hover {
        color: @linkcolor;
        
        p, h3 {
            .transform(scale(1.1));
        }
    }
}

.project {
    padding: 2em 1em 1em 1em;
    
    background: #f2c200;
    
    h3 {
        font-size: 2em;
        line-height: 1em;
        margin: 0;
    }
    
    p {
        font-size: 1em;
    }
}

.project.wonderapp {
    background: url('../img/wonderapp.jpg') no-repeat center center scroll;
	.background-cover();
}

.project.sevenwondersipad {
    background: url('../img/sevenwondersipad.jpg') no-repeat center center scroll;
	.background-cover();
}

.project.timesup {
    background: url('../img/timesup.jpg') no-repeat center center scroll;
	.background-cover();
}

.project.twinit {
    background: url('../img/twinit.jpg') no-repeat center center scroll;
	.background-cover();
}

.project.sevenwonderscompanion {
    background: url('../img/sevenwonderscompanion.jpg') no-repeat center center scroll;
	.background-cover();
}


/*
* Skills
*/

#skills {
    background: url('../img/blur.jpg') no-repeat center center scroll; 
	.background-cover();
	
	color: @darkbackgroundtextcolor;
}

.skill {
    display: inline-block;
    width: 10em;
    text-align: center;
    padding: 2em 0;
    text-transform: uppercase;
    font-size: 0.9em;
}

/*
* Contact
*/

#contact {
    padding-bottom: 3em;
    background: @lightbackgroundcolor;
    h2 {color: @lightbackgroundtextcolor;}
}

#contact a {
    margin: 1em;
    display: inline-block;
    width: 3em;
}

#contact a:hover {
}

#contact a path {
    width: 3em;
    height: 3em;
    fill: @lightbackgroundtextcolor;
    transition: fill 0.2s;
}

#contact a path:hover {
    width: 3em;
    height: 3em;
    fill: @linkcolor;
}

/*
* Media Queries
*/

@media screen and (max-width: 827px) {
    .grid-2{float:none;width:auto;margin-bottom:3%}
    .grid-2+.grid-2{margin-left:inherit}
    header .title{font-size:4em;}
    .subtitle-content .subtitle {font-size: 1.4em;}
    .skill {width: 10em; font-size: 0.8em; img {width: 5em;}}
}

@media screen and (max-width: 550px) {
    html{font-size:16px;}
    nav a {padding: 1em 1em;}
}

/*
* Project Details
*/

.roundedbutton {
    text-transform: uppercase;
    font-weight: 300;
    display:inline-block;
    padding: 0.5em 1em;
    .border-radius(50px;);
    background: @textcolor;
    color: white;
    transition: color 0.2s;
    transition: background 0.2s;
    margin: 0.5em;
    font-size: 0.8em;
    &.muted {
        background: rgba(0, 0, 0, 0.3);
    }
}

.roundedbutton:hover {
    background: @linkcolor;
    color: white;
    
    &.muted {
        background: rgba(0, 0, 0, 0.3);
    }
}

.projectheader, .projectfooter {
    background: @darkbackgroundcolor;
    padding: 3em auto 3em auto;
}

.projectheader nav {
        text-align: left;
    }

.projectfooter {
    margin-top: 3em;    
}

.jumbotron {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 512px;
    overflow: hidden;
}

.jumbotron img {
    width: 100%;
    height: auto;
}

.company {
    margin-top: -2em;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 3em;
}

.projectdetail .wrapper {
    max-width: 540px;
}

.trivia {
    font-style: italic;
    font-size: 0.9em;
}